{
    "files.autoSave": "afterDelay",
    "files.autoSaveDelay": 500,
    "editor.renderWhitespace": "all",
    "editor.minimap.enabled": false,
    "git.enableCommitSigning": true,
    "telemetry.enableCrashReporter": false,
    "telemetry.enableTelemetry": false
}