[Unit]
Description=Send notification when shutdown
Before=shutdown.target reboot.target halt.target
After=network-online.target docker.service
Wants=network-online.target
Requires=network-online.target docker.service

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/usr/sbin/notify_shutdown
RemainAfterExit=true

[Install]
WantedBy=multi-user.target