[Unit]
Description=Send notification when power on
After=network-online.target docker.service
Wants=network-online.target
Requires=network-online.target docker.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/notify_poweron

[Install]
WantedBy=multi-user.target