[submodule "library/aur"]
	path = library/aur
	url = https://github.com/kewlfft/ansible-aur.git
[submodule "_external/secrets"]
	path = _external/secrets
	url = git@code.akipe.fr:akp/ansible_system_recipes_external_secrets.git
[submodule "_external/blob"]
	path = _external/blob
	url = git@code.akipe.fr:akp/ansible_system_recipes_external_blob.git
