# config file for ansible

[defaults]
ansible_managed = Ansible managed, modified at %Y-%m-%d %H:%M:%S
vault_password_file = .vault_password.env
inventory = inventory.ini
library = ./library

roles_path = ./roles/services:./roles/general:./roles/personalize:./roles/other
log_path = ./log/ansible.log
