## {{ ansible_managed }}

default         {{ role_systemdBoot_default_entry }}
timeout         {{ role_systemdBoot_timeout }}
console-mode    max
editor          1
auto-firmware   1
auto-entries    1
