## {{ ansible_managed }}

# Increasing the size of the receive queue
net.core.netdev_max_backlog = 16384
# Increase the maximum connections
net.core.somaxconn      = 8192
# Increase the memory dedicated to the network interfaces
net.core.rmem_default   = 1048576
net.core.rmem_max       = 16777216
net.core.wmem_default   = 1048576
net.core.wmem_max       = 16777216
net.core.optmem_max     = 65536
net.ipv4.tcp_rmem       = 4096 1048576 2097152
net.ipv4.tcp_wmem       = 4096 65536 16777216
net.ipv4.udp_rmem_min   = 8192
net.ipv4.udp_wmem_min   = 8192
# Enable TCP Fast Open
net.ipv4.tcp_fastopen = 3
# Change TCP keepalive parameters
net.ipv4.tcp_keepalive_time = 60
net.ipv4.tcp_keepalive_intvl = 10
net.ipv4.tcp_keepalive_probes = 6
# Enable MTU probing
net.ipv4.tcp_mtu_probing = 1
# Enable BBR
# Need tcp_bbr kernel module
net.core.default_qdisc = cake
net.ipv4.tcp_congestion_control = bbr

# TCP/IP stack hardening

# TCP SYN cookie protection
net.ipv4.tcp_syncookies = 1
# TCP rfc1337
net.ipv4.tcp_rfc1337 = 1
# Reverse path filtering
net.ipv4.conf.default.rp_filter = 1
net.ipv4.conf.all.rp_filter = 1
