## {{ ansible_managed }}

### GENERAL OPTIONS
[options]
Color
TotalDownload
CheckSpace
VerbosePkgLists

### SIGNATURE OPTIONS
SigLevel            = Required DatabaseOptional
LocalFileSigLevel   = Optional
#RemoteFileSigLevel = Required

### OTHERS OPTIONS
HoldPkg             = pacman glibc {% if ansible_distribution == 'Manjaro' %}manjaro-system{% endif %}
SyncFirst           = archlinux-keyring {% if ansible_distribution == 'Manjaro' %}manjaro-system manjaro-keyring{% endif %}
#XferCommand        = /usr/bin/curl -L -C - -f -o %o %u
#XferCommand        = /usr/bin/wget --passive-ftp -c -O %o %u
#CleanMethod        = KeepInstalled
Architecture        = auto

### DIRECTORY OPTIONS
#RootDir            = /
#DBPath             = /var/lib/pacman/
CacheDir           = /var/cache/pacman/pkg/
#LogFile            = /var/log/pacman.log
#GPGDir             = /etc/pacman.d/gnupg/
#HookDir            = /etc/pacman.d/hooks/

### IGNORE SOME PACKAGES
#IgnorePkg          =
#IgnoreGroup        =
#NoUpgrade          =
#NoExtract          =

### REPOSITORIES
[core]
SigLevel    = PackageRequired
Include     = /etc/pacman.d/mirrorlist

[extra]
SigLevel    = PackageRequired
Include     = /etc/pacman.d/mirrorlist

[community]
SigLevel    = PackageRequired
Include     = /etc/pacman.d/mirrorlist

[multilib]
SigLevel    = PackageRequired
Include     = /etc/pacman.d/mirrorlist
