## {{ ansible_managed }}

[Unit]
Description=Run reflector weekly

[Timer]
OnCalendar={{ pacman_reflector_time_onCalendar }}
RandomizedDelaySec={{ pacman_reflector_time_randomizedDelaySec }}
Persistent=true

[Install]
WantedBy=timers.target
