## {{ ansible_managed }}

options i915 fastboot=1
# options i915 preliminary_hw_support=1
# options i915 enable_rc6=1
# options i915 enable_fbc=1
# options i915 enable_dc=1
# options i915 semaphores=1
# options i915 enable_psr=1
# options i915 disable_power_well=0
# options i915 lvds_downclock=1
