## {{ ansible_managed }}

[Trigger]
Operation=Upgrade
Type=Package
Target=linux-firmware

[Action]
Description = Replace default Qualcom Atheros QCA6174 firmware
When=PostTransaction
Exec=/bin/bash -c '/usr/bin/rm /usr/lib/firmware/ath10k/QCA6174/hw2.1/board-2.bin /usr/lib/firmware/ath10k/QCA6174/hw3.0/board-2.bin && /usr/bin/cp /opt/firmware_ath10k/QCA6174/board.bin /usr/lib/firmware/ath10k/QCA6174/hw2.1/board.bin && /usr/bin/cp /opt/firmware_ath10k/QCA6174/board.bin /usr/lib/firmware/ath10k/QCA6174/hw3.0/board.bin'
