## {{ ansible_managed }}

Section "InputClass"
    Identifier "system-keyboard"
    MatchIsKeyboard "on"
    Option "XkbLayout" "fr,us"
    Option "XkbModel" "pc104"
    Option "XkbVariant" "oss,dvorak"
EndSection
