## {{ ansible_managed }}
--ignore-gpu-blacklist
--enable-gpu-rasterization
--enable-native-gpu-memory-buffers
--enable-zero-copy
--enable-oop-rasterization
--load-media-router-component-extension
--enable-surfaces-for-videos
--use-skia-renderer
--use-skia-deferred-display-list
--enable-viz-display-compositor
