{
    "ShowAppsShortcutInBookmarkBar": false,
    "ShowHomeButton": true,
    "TranslateEnabled": false,
    "HomepageIsNewTabPage": false,
    "DefaultBrowserSettingEnabled": false,
    "BackgroundModeEnabled": false,
    "NetworkPredictionOptions": false,
    "PasswordManagerEnabled": false
}
