## {{ ansible_managed }}

[Time]
NTP={% for server in systemd_timesyncd_ntp_servers %}{{ server }} {% endfor %} 
FallbackNTP={% for server in systemd_timesyncd_ntp_servers_fallback %}{{ server }} {% endfor %} 
RootDistanceMaxSec=5
PollIntervalMinSec=32
PollIntervalMaxSec=2048
