# Generate by Ansible
[Unit]
Description=Check services needed to restart every 15-30 minutes
Requires=needrestart.service

[Timer]
Unit=needrestart.service
OnUnitInactiveSec=15m
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target