## {{ ansible_managed }}

MODULES=({% for module in mkinitcpio_initramfs_modules %}{{ module }} {% endfor %})

BINARIES=({% for binary in mkinitcpio_initramfs_binaries %}{{ binary }} {% endfor %})

FILES=({% for file in mkinitcpio_initramfs_mkinitcpio_files %}"{{ file }}" {% endfor %})

HOOKS=({% for hook in mkinitcpio_initramfs_hooks %}{{ hook }} {% endfor %})

COMPRESSION=({{ mkinitcpio_initramfs_compression }})

{% if mkinitcpio_initramfs_compressionOptions %}
COMPRESSION_OPTIONS=({{ mkinitcpio_initramfs_compressionOptions }})
{% else %}
#COMPRESSION_OPTIONS=()
{% endif %}
