## {{ ansible_managed }}

options nvidia-drm  modeset={{ nvidia_modprobe_modeset }}
options nvidia      NVreg_UsePageAttributeTable={{ nvidia_modprobe_use_page_attribute_table }}
options nvidia      NVreg_EnablePCIeGen3={{ nvidia_modprobe_enable_pcie_gen3 }}
options nvidia      NVreg_RegistryDwords="{{ nvidia_modprobe_registry_dwords }}"
