## {{ ansible_managed }}

options nvidia NVreg_PreserveVideoMemoryAllocations={{ nvidia_modprobe_resume_preserve_video_memory_allocations }}
options nvidia NVreg_TemporaryFilePath={{ nvidia_modprobe_resume_temporary_file_path }}
