## {{ ansible_managed }}

LANG={{ role_language_default }}
LANGUAGE={{ role_language_order }}:en_US:en
LC_TIME={{ role_language_timeFormat }}
LC_COLLATE={{ role_language_collate }}
LC_MESSAGES={{ role_language_default }}
