## {{ ansible_managed }}

"Normal"                  "{% for option in bootloader_options %}{{ option }} {% endfor %} initrd={{ microcode_path }} initrd=initramfs-%v.img rw quiet splash loglevel=3 rd.udev.log_priority=3 vt.global_cursor_default=0"
"Terminal"                "{% for option in bootloader_options %}{{ option }} {% endfor %} initrd={{ microcode_path }} initrd=initramfs-%v.img systemd.unit=multi-user.target rw"
"Recovery (rw)"           "{% for option in bootloader_options %}{{ option }} {% endfor %} initrd={{ microcode_path }} initrd=initramfs-%v-fallback.img rw"
"Recovery (rw, terminal)" "{% for option in bootloader_options %}{{ option }} {% endfor %} initrd={{ microcode_path }} initrd=initramfs-%v-fallback.img systemd.unit=multi-user.target rw"
"Recovery (ro, terminal)" "{% for option in bootloader_options %}{{ option }} {% endfor %} initrd={{ microcode_path }} initrd=initramfs-%v-fallback.img systemd.unit=multi-user.target ro"
