---

## {{ ansible_managed }}

# http:
#   routers:
#     akpHome:
#       entryPoints:
#        - http
#       ansible.builtin.service: akpHome
#       rule: "Host(`{{ url_akpHome }}`)"
#       middlewares:
#        - SecureMiddlewares

#     akpHome_secure:
#       entryPoints:
#        - https
#       ansible.builtin.service: akpHome
#       rule: "Host(`{{ url_akpHome }}`)"
#       middlewares:
#        - SecureMiddlewares
#       tls:
#         certResolver: letsencrypt

#   services:
#     akpHome:
#       loadBalancer:
#         servers:
#           - url: {{ akpRouter_loadBalancer_server_akpHome }}
