---

## {{ ansible_managed }}

# http:
#   routers:
#     IP_Address:
#       entryPoints:
#       - http
#       service: IP_Address
#       rule: "Host(`{{ ipv4_wan }}`, `{{ ipv4_lan_asvcontainers01 }}`, `{{ url_dns_reverse }}`)"
#       middlewares:
#       - SecureMiddlewares

#     IP_Address_secure:
#       entryPoints:
#       - https
#       service: IP_Address
#       rule: "Host(`{{ ipv4_wan }}`, `{{ ipv4_lan_asvcontainers01 }}`, `{{ url_dns_reverse }}`)"
#       middlewares:
#       - SecureMiddlewares
#       tls:
#         options: hardening

#   services:
#     IP_Address:
#       loadBalancer:
#         servers:
#           - url: ""
