## {{ ansible_managed }}
## 10 Gbit network interface, for connection to akpServer01

[Match]
Name=ens19

[Network]
Address={{ ipv6_akpnet10g1_akpContainers01 }}/{{ ipv6_akpnet10g1_akpContainers01_size }}
#Gateway=10.1.10.1
#DNS=10.1.10.1
#DNS=8.8.8.8